<%- layout("/layouts/boilerpalte.ejs") %>

    <body>
        <h3>All Listings</h3>
        <!-- No need to have this given below any more -->
        <!-- <form action="/listings/new" method="GET">
            <button>Create New Listing</button>
        </form> -->
        <br>
        <% for(let listing of allListings) { %>
            <li>
                <a href="/listings/<%- listing._id %>">
                    <%= listing.title %>
                </a>
            </li>
            <% } %>
    </body>